---
layout: page
title: "Home"
---

<img class="alignnone wp-image-58 size-medium" src="https://sites.duke.edu/yajuanlin/files/2019/10/IMG_0591-300x225.jpg" alt="" width="300" height="225" /> <img class="alignnone wp-image-212" src="https://sites.duke.edu/yajuanlin/files/2021/08/100_3160-300x201.jpg" alt="" width="336" height="225" />

I am a seagoing biological oceanographer and an assistant professor at <a href="https://www.tamucc.edu/">Texas A&M University - Corpus Christi</a>. I am interested in understanding the energy fluxes in marine ecosystems and the elemental fluxes in biogeochemical cycles. In particular, I study carbon exports in the sunlit surface ocean. I work closely with the <a href="https://sites.nicholas.duke.edu/cassar/">Cassar Lab</a> at Duke University.

Current research areas <strong>Biological Oceanography, Environmental Microbiology, Biogeochemistry, Waterborne Pathogen, and Climate Change.</strong>

I received my Ph.D. from Duke University (PhD advisor Prof. Zackary Johnson). My dissertation research focused on the cyanobacterium <em>Prochlorococcus</em>, the smallest but most abundant phytoplankton in the ocean. I established a method to measure the genotype specific growth rates using ribosomal RNA contents, and related the growth rates to different environmental variables in tropical and subtropical oceans.

Since my postdoc training with Prof. Nicolas Cassar, I have been working intensively with the polar ocean systems. I study how microbial communities (both autotrophs and heterotrophs) and their interactions influence carbon exports measured by the underway O2/Ar method. My research is at the nexus of high-throughput molecular biology and high-resolution biogeochemistry. Combining these two directions provides me with unique tools to explore the mechanisms of carbon exports. And our findings benefit other fields such as biogeochemical modeling, food web dynamics, and ecosystem conservation.

<strong>Field projects:</strong>

<em>Polar focused</em> <em>-</em>

<a href="https://spi-ace-expedition.ch/">The Antarctic Circumnavigation Expedition (ACE)</a>

<a href="https://pal.lternet.edu/">Palmer Long-Term Ecological Research (LTER)</a>

<em>Tropical coral reef system</em> <em>-</em>

<a href="https://oceans.taraexpeditions.org/en/m/environment/ocean-climate/new-expedition-tara-pacific/">TARA Pacific Expeditions</a>

#{% if site.show_excerpts %}
# {% include home.html %}
#{% else %}
# {% include archive.html title="Posts" %}
#{% endif %}
